six
KMlogger
numpy
Cython
emcee
corner
#extras suggested to allow documenting of Cython code by Sphinx at: https://github.com/abingham/cython-sphinx-example
alabaster
appnope
Babel
backports.shutil-get-terminal-size
decorator
docutils
imagesize
ipython
ipython-genutils
Jinja2
MarkupSafe
pathlib2
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pytz
simplegeneric
six
snowballstemmer
Sphinx
traitlets
wcwidth